body {
    font-family: sans-serif;
}
.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;  /* Set to relative so the .next-button is positioned relative to this container */
}

.slide-content {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic {
    font-size: 2rem;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.question {
    font-size: 1.8rem;
    width: 100%;
    margin-top: 5px;
}

/* Style the custom radio button */
.radio-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 12px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.radio-container label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.radio-container input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.custom-radio {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #f2f2f2;
    position: relative;
    margin-right: 10px;
    transition: background-color 0.3s;
}

/* Style the radio button when checked */
.radio-container input[type="radio"]:checked + .custom-radio {
    background-color: #007bff;
}

/* Create the indicator for the radio button when checked */
.custom-radio::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
}

.radio-container input[type="radio"]:checked + .custom-radio::after {
    transform: translate(-50%, -50%) scale(1);
}


.next-button {
    position: absolute;
    background: transparent;
    margin-right: 1rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2.25rem;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.15);
    border: 2px solid #dfdfdf;
    transition: all .3s cubic-bezier(.33,1,.68,1);

    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-button:hover {
    transform: translateY(-50%) scale(1.15);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3);
    border-color: #C0C0C0;
}

.next-button:active {
    transform: translateY(-50%) scale(0.9);
    box-shadow: none;
    border-color: #C0C0C0;
    transition: transform .1s ease-in-out;
}

.previous-button {
    position: absolute;
    background: transparent;
    margin-left: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2.25rem;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.15);
    border: 2px solid #dfdfdf;
    transition: all .3s cubic-bezier(.33,1,.68,1);

    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous-button:hover {
    transform: translateY(-50%) scale(1.15);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3);
    border-color: #C0C0C0;
}

.previous-button:active {
    transform: translateY(-50%) scale(0.9);
    box-shadow: none;
    border-color: #C0C0C0;
    transition: transform .1s ease-in-out;
}

.slider-track {
    width: 50%;
    max-width: 500px;
    height: 100vh;
    margin: auto;
}
.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;

}
.slideshow-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.transparent-box-question {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 20px 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: 100%;  /* Take full width of the parent */
}

