.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;  /* Set to relative so the .next-button is positioned relative to this container */
}

.slide-content {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic {
    font-family: FuturaPTMedium, cursive;
    font-size: 2rem;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.question {
    color: #2c3e50;
    font-size: 1.8rem;
    width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 5px;
}

.next-button {
    position: absolute;
    background: transparent;
    margin-right: 1rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2.25rem;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.15);
    border: 2px solid #dfdfdf;
    transition: all .3s cubic-bezier(.33,1,.68,1);

    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-button {
    position: absolute;
    background: transparent;
    margin-left: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2.25rem;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.15);
    border: 2px solid #dfdfdf;
    transition: all .3s cubic-bezier(.33,1,.68,1);

    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-track {
    width: 50%;
    max-width: 500px;
    height: 100vh;
    margin: auto;
}
.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;

}
