.top-bar {
    position: absolute;
    top: 0;
    padding-top: 10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent; /* To show the background */
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.progress-segment {
    flex-grow: 1;
    height: 100%;
    background-color: #ccc; /* Not filled */
    margin: 0 5px; /* Spacing between segments */
    border-radius: 0.3rem;
}

.progress-segment.filled {
    background-color: #007bff; /* Filled */
}
